.teacher_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--gen-bg-color);
  width: 280px;
  height: 230px;
}

@media (max-width: 414px) {
  .teacher_card {
    width: auto;
    min-width: 170px;
  }
}