.reset_password {
  border-radius: 10px;
  padding: 2.5rem 1rem;
  margin-top: 1rem;
}

.reset_password .reset_password_title h2 {
  color: var(--text-color);
  font-size: 24px;
  margin-bottom: 1rem;
}

.reset_password {
  margin: 2rem 0px 1rem;
}
.reset_password .login_form_input_box {
  margin: 0.3rem 0;
}

.reset_password .login_form_input_box input::placeholder {
  font-size: 14px;
}

.reset_password .error_msg {
  margin-right: 10px;
}

@media (max-width: 480px) {
  .reset_password {
    width: 300px;
  }
}
@media (max-width: 375px) {
  .reset_password {
    width: 260px;
  }
}
@media (max-width: 330px) {
  .reset_password {
    width: 230px;
  }
}
