.add_product .add_form .form_inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.product_information .product_img {
    width: 370px;
    height: 300px;
    overflow: hidden;
}

.product_information .product_img img {
    width: 100%;
    height: 300px;
}


@media (max-width: 960px) {
    .add_product .add_form .form_inputs {
        grid-template-columns: repeat(2, 1fr)
    }

}

@media (max-width: 760px) {
    .add_product .add_form .form_inputs {
        grid-template-columns: repeat(1, 1fr)
    }

    .product_information .product_img {
        width: 280px;
    }


}