.logo_container {
  position: relative;
  overflow: hidden;

}

.logo_container img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}