.modal {
  position: fixed;
  background-color: var(--light-dark);
  border-radius: 8px;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  overflow-y: scroll;
  max-height: 720px;
  width: max-content;
  min-width: 40%;
  max-height: 85%;
  margin: 0 20%;
}

.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--show-color);
  z-index: 1000;
}

.close_modal {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  padding: 6px 8px;
  color: var(--gen-color);
  width: max-content;
}

.modal_children {
  border-top: 1px solid var(--gen-color);
  padding: 20px 40px;
}

/* Responsive Layout */

@media (max-width: 768px) {
  .modal {
    width: 240px;
  }

  .modal_children {
    border-top: 1px solid var(--gen-color);
    padding: 20px;
  }
}
