/* Button */
.btn {
  font-family: inherit;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  outline: none;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  letter-spacing: 0;
  padding: 4px 20px;
  font-size: 15px;
  line-height: 2;
  -webkit-user-select: none;
  transition: all 0.3s ease-in-out 0s;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn i {
  margin-top: 5px !important;
}

.ltr .btn {
  text-align: left;
}

.rtl .btn {
  text-align: right;
}


.btn:hover {
  color: #fff;
  border-color: transparent;
}

.btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.3s;
}

.btn:hover:before {
  top: -30px;
  left: -30px;
}

.btn:active:before {
  transition: background 0s;
}

.loginBtn {
  border-radius: 30px;
  background-color: rgb(247, 68, 226);
}

.plusBtn {
  border-radius: 4px;
  background-color: rgb(49, 246, 82);
  padding: 0px 10px !important;
}

.crossBtn {
  border-radius: 4px;
  background-color: rgb(246, 49, 52);
  padding: 0px 10px !important;
}


.danger:before {
  background: #ee1818;
}

.success:before {
  background: #17ea04;
}

.standard:before {
  background: #f1e835;
}

.btn_container {
  position: relative;
  display: inline;
}

.btn i {
  margin: 0 4px;
}

#lock_button {
  position: absolute;
  background: rgba(162, 162, 162, 0.789);
  left: 0;
  right: 0;
  top: -6px;
  z-index: 10;
  border-radius: 10px;
  bottom: -8px;
}

/* End Button */