/* Button */

.btn_common {
  font-size: 15px;

}

/* 
.btn {
  font-family: inherit;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 8px;
  font-weight: 500;
  color: var(--text-color);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--main-color);
  white-space: nowrap;
  letter-spacing: 0;
  padding: 2px 20px;
  font-size: 15px;
  line-height: 2;
  -webkit-user-select: none;
  transition: all 0.3s ease-in-out 0s;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn i {
  margin-top: 5px !important;

} */

.ltr .btn {
  text-align: left;
}

.rtl .btn {
  text-align: right;
}

.btn:hover {
  color: var(--text-color);
  border: 1px solid #fff;
  background-color: var(--main-color);
}


.loginBtn {
  border-radius: 30px;
  background-color: rgb(247, 68, 226);
}

.plusBtn {
  border-radius: 8px;
  background-color: rgb(49, 246, 82);
  padding: 4px 10px !important;
  border: none;
}

.crossBtn {
  border-radius: 8px;
  background-color: rgb(246, 49, 52);
  padding: 4px 10px !important;
  border: none;
}


.danger:before {
  background: #ee1818;
}

.success:before {
  background: #17ea04;
}

.standard:before {
  background: #f1e835;
}

.btn_container {
  position: relative;
  display: inline;
}

.btn i {
  margin: 0 4px;
}

#lock_button {
  position: absolute;
  background: rgba(162, 162, 162, 0.789);
  left: 0;
  right: 0;
  top: -6px;
  z-index: 10;
  border-radius: 10px;
  bottom: -8px;
}

/* End Button */



/* CSS */
.button_modern {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: var(--text-color);
  background: var(--text-color);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 4px 6px;
}

.button_modern:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button_modern:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #222; */
  background: var(--light-dark);
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* ===================================================================== */

/* CSS */
.btn {
  margin: 1px 2px;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border: none;
}

.btn:active {
  /* transform: scale(0.95); */
}