.search_pagination .btn {
    padding: 0 10px;
}

.search_pagination select {
    min-width: 40px !important;
    padding: 4px 10px;
}


.add_form .form_inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}


@media (max-width: 960px) {
    .add_form .form_inputs {
        grid-template-columns: repeat(2, 1fr)
    }

}

@media (max-width: 760px) {
    .add_form .form_inputs {
        grid-template-columns: repeat(1, 1fr)
    }


}