.factor_header {
    height: 160px;
    background-position: center;
    background-size: 100% 180px;
    background-repeat: no-repeat;
}


.factor_customer_information {
    margin: 20px 0;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    font-weight: 500;
}

.factor_page .custom_table tr {
    height: 20px;
}

.factor_body {
    margin: 0px;
}

.factor_results {
    font-size: 14px;
}

.products_table table thead tr {
    background-color: rgb(154 249 255);
}

.factor_results table thead tr {
    background-color: rgb(187 255 187 / 80%);
}

.factor_page .custom_table tr {
    height: 20px !important;
}


.factor_footer_container {
    background-color: rgba(255 206 86 / 55%);
    padding: 5px 10px;
}



/*  gpt suggest for footer */

.factor_page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensure it fills the full page height */
}

.factor_body {
    flex-grow: 1;
    /* This will make the body grow to fill available space */
}

.factor_footer {
    /* display: flex; */
    justify-content: space-between;
    /* Example background */
    position: relative;
    font-size: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 90%; */
}

@media print {

    /* Set the page size for printing */
    .factor_page {
        /* page-break-inside: ; */
        height: auto;
        min-height: 21cm;
        /* A4 page height */
    }

    .factor_page .custom_table tr {
        height: 20px !important;
    }

    .factor_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}