.header_container {
  background: var(--gen-main-bg);
  width: 100%;
  height: 62px;
  margin-top: 0px;
  padding-top: 10px;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.header {
  height: 50px;
  width: 100%;
  background-color: var(--navbar-bg);
  left: 0;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.05);
}

.header_box_size {
  margin: 0 5px;
}

.header_login {
  padding: 4px 8px;
  outline: none;
  font-size: 14px;
  margin: 4px;
}

/* dark mode icon */

.header_left .dark_mode_toggle i {
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  color: var(--text-color);
}

.user_profile {
  align-items: center;
  font-size: 12px;
  margin: 0 5px;
}

.user_profile_img_container {
  margin: 0 4px;
  object-fit: contain;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background: #fff;
}

.user_profile .user_profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.user_profile:hover+.account_menu {
  top: 90%;
  opacity: 1;
  -webkit-user-select: auto;
  user-select: auto;
  z-index: 100;
  visibility: visible;
}

.account_menu:hover {
  top: 90%;
  opacity: 1;
  visibility: visible;
  -webkit-user-select: auto;
  user-select: auto;
  z-index: 100;
}

.account_menu a {
  margin-bottom: 5px;
}

.account_menu a i {
  margin: 0 4px;
  font-weight: inherit;
}

.account_menu a:hover {
  font-weight: bold;
}

.account_menu {
  justify-content: flex-start;
  width: 100px;
  font-size: 12px;
  background-color: var(--light-dark);
  top: 160%;
  opacity: 0;
  visibility: hidden;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.5rem;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}


.lang_menu {
  width: 100px;
  font-size: 12px;
  background-color: var(--light-dark);
  position: absolute;
  top: 160%;
  opacity: 0;
  user-select: none;
  padding: 0.5rem;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: -1;
  visibility: hidden;
}

.lang_menu :first-child {
  margin-bottom: 0.5rem;
}

.lang_menu div:hover {
  font-weight: bold;
  cursor: pointer;

}

.show {
  top: 90%;
  opacity: 1;
  -webkit-user-select: auto;
  user-select: auto;
  z-index: 100;
  visibility: visible;
}


/* toggle_header_navbar */
.header_container .toggle_header_navbar {
  z-index: 500;
  width: max-content;
  height: 30px;

}

@media (min-width: 768px) {
  .header_container .toggle_header_navbar {
    display: none !important;
  }

  .header {
    justify-content: flex-end;
  }
}