p.add_employee .add_form .form_inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}


@media (max-width: 960px) {
    .add_employee .add_form .form_inputs {
        grid-template-columns: repeat(2, 1fr)
    }

}

@media (max-width: 760px) {
    .add_employee .add_form .form_inputs {
        grid-template-columns: repeat(1, 1fr)
    }


}